# To change names of custom data generators. Those normally don't matter, but we run them at runtime.
public-f net.minecraft.data.loot.LootTableProvider getName()Ljava/lang/String;
public-f net.minecraft.data.recipes.RecipeProvider getName()Ljava/lang/String;
